* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p:last-child {
  margin-bottom: 0;
}

ul {
  list-style: none;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  border: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}
